body {
    background-color: #06091b;
    font-family: "Righteous", cursive;
    color: #d1eaff;
}

.heading1 {
    font-size: 3.5rem;
    font-family: "Pacifico", cursive;
}

.heading1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 1.2rem;
    background-color: #032335;
    z-index: -1;
    transition: 1s all;
}

.heading1:hover::before {
    height: 2.5rem;
}

h2 {
    font-size: 2.5rem;
    font-family: "Righteous", cursive;
    background: linear-gradient(to right, #ffffff, #0f8fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-bottom: 2rem;
}

.bookmarkBody {
    width: 100%;
    max-width: 900px;
    background-color: #032335;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.inputField {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.btn {
    height: 4em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0px solid black;
    cursor: pointer;
}

.wrapper {
    height: 2em;
    width: 8em;
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 17px;
    z-index: 1;
    color: #000;
    padding: 4px 12px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.5s ease;
}

.flower {
    display: grid;
    grid-template-columns: 1em 1em;
    position: absolute;
    transition: grid-template-columns 0.8s ease;
}

.flower1 {
    top: -12px;
    left: -13px;
    transform: rotate(5deg);
}

.flower2 {
    bottom: -5px;
    left: 8px;
    transform: rotate(35deg);
}

.flower3 {
    bottom: -15px;
    transform: rotate(0deg);
}

.flower4 {
    top: -14px;
    transform: rotate(15deg);
}

.flower5 {
    right: 11px;
    top: -3px;
    transform: rotate(25deg);
}

.flower6 {
    right: -15px;
    bottom: -15px;
    transform: rotate(30deg);
}

.petal {
    height: 1em;
    width: 1em;
    border-radius: 40% 70% / 7% 90%;
    background: linear-gradient(#07a6d7, #93e0ee);
    border: 0.5px solid #96d1ec;
    z-index: 0;
    transition: width 0.8s ease, height 0.8s ease;
}

.two {
    transform: rotate(90deg);
}

.three {
    transform: rotate(270deg);
}

.four {
    transform: rotate(180deg);
}

.btn:hover .petal {
    background: linear-gradient(#0761d7, #93bdee);
    border: 0.5px solid #96b4ec;
}

.btn:hover .flower {
    grid-template-columns: 1.5em 1.5em;
}

.btn:hover .flower .petal {
    width: 1.5em;
    height: 1.5em;
}

.btn:hover .text {
    background: rgba(255, 255, 255, 0.4);
}

.btn:hover div.flower1 {
    animation: 15s linear 0s normal none infinite running flower1;
}

@keyframes flower1 {
    0% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(365deg);
    }
}

.btn:hover div.flower2 {
    animation: 13s linear 1s normal none infinite running flower2;
}

@keyframes flower2 {
    0% {
        transform: rotate(35deg);
    }

    100% {
        transform: rotate(-325deg);
    }
}

.btn:hover div.flower3 {
    animation: 16s linear 1s normal none infinite running flower3;
}

@keyframes flower3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn:hover div.flower4 {
    animation: 17s linear 1s normal none infinite running flower4;
}

@keyframes flower4 {
    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(375deg);
    }
}

.btn:hover div.flower5 {
    animation: 20s linear 1s normal none infinite running flower5;
}

@keyframes flower5 {
    0% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(-335deg);
    }
}

.btn:hover div.flower6 {
    animation: 15s linear 1s normal none infinite running flower6;
}

@keyframes flower6 {
    0% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(390deg);
    }
}

.table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    font-family: "Righteous", cursive;
    font-size: 1.2rem;
    text-align: center;

}

.table th,
.table td {
    padding: 1rem;
    border-bottom: 1px solid #0e4470;
}
.table tr {
    display: table-row;
}

button {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #0e4470;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    transition: color .7s;
}

button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #0e4470;
}

button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.7s;
}

button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
}

button:hover {
    color: white;
}

button:active span::before {
    background: #2751cd;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', sans-serif;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
}

.d-none {
    display: none !important;
}
